.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  width: 650px;
  margin: 57px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 640px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-2 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-3 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-4 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-5 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-6 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-7 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-8 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-9 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-10 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-11 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-12 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-13 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-14 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-15 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-16 {
  height: 80px;
  width: 80px;
  color: rgb(11, 110, 202) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-icon-17 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -24px 210px 0 auto;
}

.u-section-1 .u-icon-18 {
  width: 24px;
  height: 24px;
  background-image: none;
  margin: -24px auto 57px 210px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: 114px;
  }

  .u-section-1 .u-icon-17 {
    margin-top: 29px;
    margin-bottom: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 2560px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 158px;
  }

  .u-section-1 .u-icon-18 {
    margin-left: 158px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-17 {
    margin-right: 99px;
  }

  .u-section-1 .u-icon-18 {
    margin-left: 99px;
  }
}