.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-text-1 {
  font-size: 1.625rem;
  text-transform: uppercase;
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  line-height: 1.2;
  margin: 15px 39px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  width: 148px;
  margin: 11px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 133px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 8px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(0, 188, 212) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 422px;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 24px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}